body {
  font-family: sans-serif;
  padding: 1em;
}

.ais-Pagination {
  margin-bottom: 25px;
}

.results {
  flex: 9;
}

.hit {
  display: flex;
  align-items: center;
}

.hit-actions {
  display: flex;
}

.hit-content {
  padding: 0px 10px;
}

.hit-picture img {
  width: 80px;
  height: 80px;
}

.hit-type {
  color: #888888;
  font-size: 13px;
}